*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.col{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 70%;
    height: 70%;
}


.card > img{
   object-fit: cover;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}